html,
body {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.calc {
    display: flex;
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc .input-area {
    width: 270px;
    display: flex;
    flex-direction: row;
}
.calc .input-area .input-field {
    width: 130px;
    height: 100px;
    font-size: 1.5em;
}

.calc .result {
    width: 270px;
    height: 100px;
    border: 1px solid green;
    font-size: 2em;

}

.calc .btn-row {
    display: flex;
    flex-direction: row;
}
.calc .btn-row {
    margin-top: 10px;
    display: flex;
    width: 270px;
    flex-direction: row;
}

.calc .btn-row .btn {
    width: 25%;
    padding: 10px;
}