html,
body {
    margin: 0;
    padding: 0;
}

.table {
    padding: 10px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
}

.table tr:hover {
    background-color: #eeeeee;
}

.table tr td {
    padding: 10px;
    border: 1px solid #c0c0c0;
    margin: 0;
}